# Slack configuration
WEBHOOK_URL = ''
SLACK_USERNAME = 'soccerbot'
SLACK_CHANNEL = 'soccer-alerts'
SLACK_AVATAR = ':soccer:'
RED_CARD_EMOJI = ':redcard:'
YELLOW_CARD_EMOJI = ':yellowcard:'

# Webhook for sending debug information
DEBUG_WEBOOK = ''
# Debug Setting
DEBUG = False

# 17 for only WC matches, None for everything
WC_COMPETITION = None
